html{
	margin: 0;
	padding: 0;
	padding-left:0px;
	font-family: verdana;
	text-align: center;
	background-color: #1E90FF;
}

a{
	font-family: Verdana;
	font-size: 20px;
	color: black;
}

h1{
	text-align: center;
}

#nav li{
	display: inline;
	font-style: italic;
}

#nav ul{
	padding-left: 0px;
	position: relative;
}

#nav ul li a{
	text-decoration: none;
}

.memberContainer a{
	padding:3px;
	font-size: 14px;
	font-style: italic;
	color: silver;
	font-family: Verdana;
	text-decoration: none;
}

.boatContainer a{
	font-size: 12px;
}

a:hover{
	color:white;
}

#header{
	text-align: center;
}
ul{
		text-align: center;
		list-style: none;
}
#container ul{
	padding-left: 0px;
}


#container ul a{
	text-decoration: none;
	font-style: italic;
}

form{
	margin-top: 5px;
	padding-left:40%;
	padding-right:40%;
	
	text-align: left;
}

.memberContainer{
	border-width: 2px;
	border-style: solid;
	border-color: purple;
	width: 20%;
	margin: 0 auto 1% auto;
	padding-bottom: 1%;
	background-color: fuchsia;
	border-radius: 50px;
}

.memberContainer h2, .memberContainer a{
	word-wrap:break-word;
}

.boatContainer{
	border-width: 2px;
	border-style: solid;
	border-color: purple;
	width: 80%;
	margin: 0 auto 1% auto;
	padding-bottom: 1%;
	background-color: #CC00CC;
	border-radius: 50px;
}

.boatContainer h2, .boatContainer h3, .boatContainer a{
	word-wrap:break-word;
	margin-top: 1%;
	margin-bottom: 1%;
}
