html{

	margin: 0;
	padding: 0;
	padding-left:0px;
	font-family: verdana;
	text-align: center;
	background-color: #1E90FF;

	
}

h1{
	text-align: center;
}

#nav li{
	display: inline;
	font-style: italic;
	
}

#nav ul{
	
	padding-left: 0px;
	position: relative;
	
}

#nav ul li a{
	text-decoration: none;
}

a:hover{
	color:white;
}

#header{
	text-align: center;
}
ul{
		text-align: center;
		list-style: none;
}
#container ul{
	padding-left: 0px;
	/*width:400px;*/
	/*margin-left: 450px;*/
	/*margin-right: 200px;*/
}
/*#container ul{*/
/*	border: solid 1px black;*/
/*}*/

#container ul a{
	text-decoration: none;
	font-style: italic;
}

form{
	padding-left:450px;
	padding-right:450px;
}



/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*b, u, i, center,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td,*/
/*article, aside, canvas, details, embed, */
/*figure, figcaption, footer, header, hgroup, */
/*menu, nav, output, ruby, section, summary,*/
/*time, mark, audio, video {*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	border: 0;*/
/*	font-size: 100%;*/
/*	font: inherit;*/
/*	vertical-align: baseline;*/
/*}*/
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, */
/*footer, header, hgroup, menu, nav, section {*/
/*	display: block;*/
/*}*/
/*body {*/
/*	line-height: 1;*/
/*}*/
/*ol, ul {*/
/*	list-style: none;*/
/*}*/
/*blockquote, q {*/
/*	quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
/*	content: '';*/
/*	content: none;*/
/*}*/
/*table {*/
/*	border-collapse: collapse;*/
/*	border-spacing: 0;*/
/*}*/


/*h1{*/
/*    font-family: Arial;*/
/*    font-size: 30px;*/
    
/*}*/

/*ul {*/
/*    float: left;*/
/*    width: 100%;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    list-style-type: none;*/
/*}*/

/*a {*/
/*    float: left;*/
/*    width: 6em;*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    background-color: purple;*/
/*    padding: 0.2em 0.6em;*/
/*    border-right: 1px solid white;*/
/*}*/

/*a:hover {*/
/*    background-color: fuchsia;*/
/*}*/

/*ul li {*/
/*    display: inline;*/
/*}*/

/*#nav ul li{ */
/*  display: inline;*/
/*  font-family: Verdana;*/
/*	font-size: 16px;*/
/*}*/


/*h1{*/
/*	font-family: Verdana;*/
/*	font-size: 24px;*/
/*}*/

/*h2{*/
/*	font-family: Verdana;*/
/*	font-size: 18px;*/
/*}*/

/*h3{*/
/*	font-family: Verdana;*/
/*	font-size: 14px;*/
/*}*/

/*p{*/
/*	font-family: Verdana;*/
/*	font-size: 14px;*/
/*}*/

/*a{*/
/*	font-family: Verdana;*/
/*	font-size: 20px;*/
/*	color: green;*/
/*}*/

/*body{*/
/*	background-color: red;*/
/*}*/